<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tech.echoing.bigdata.dao.DataResourceMapper">

    <resultMap id="BaseResultMap" type="tech.echoing.bigdata.bean.DataResource">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="resource_id" property="resourceId" jdbcType="VARCHAR"/>
        <result column="resource_name" property="resourceName" jdbcType="VARCHAR"/>
        <result column="db_type" property="dbType" jdbcType="VARCHAR"/>
        <result column="db_name" property="dbName" jdbcType="VARCHAR"/>
        <result column="db_host" property="dbHost" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <insert id="insert" parameterType="tech.echoing.bigdata.bean.DataResource">
        INSERT INTO dqc_data_resource(resource_id, resource_name, db_type, db_name, db_host, remark)
        VALUES(#{resourceId}, #{resourceName}, #{dbType}, #{dbName}, #{dbHost}, #{remark})
    </insert>

    <update id="update" parameterType="tech.echoing.bigdata.bean.DataResource">
        UPDATE dqc_data_resource
        <set>
            <if test="resourceName != null">
                resource_name = #{resourceName,jdbcType=VARCHAR},
            </if>
            <if test="dbType != null">
                db_type = #{dbType,jdbcType=VARCHAR},
            </if>
            <if test="dbName != null">
                db_name = #{dbName,jdbcType=VARCHAR},
            </if>
            <if test="dbHost != null">
                db_host = #{dbHost,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR}
            </if>
        </set>
        where resource_id = #{resourceId,jdbcType=VARCHAR}
    </update>

    <sql id="Base_Column_List">
        resource_id, resource_name, db_type, db_name, db_host, remark, create_time, update_time
    </sql>
    <select id="select" resultMap="BaseResultMap" parameterType="tech.echoing.bigdata.bean.DataResource">
        select
        <include refid="Base_Column_List"/>
        from dqc_data_resource
        <if test="resourceName != null">
            and resource_name = #{resourceName,jdbcType=VARCHAR}
        </if>
        <if test="dbType != null">
            and db_type = #{dbType,jdbcType=VARCHAR}
        </if>
        <if test="dbName != null">
            and db_name = #{dbName,jdbcType=VARCHAR}
        </if>
    </select>


</mapper>